<section id="splash" class="screen splash">
  <div class="panel">
    <h1><span class="red">Hot</span> <span class="orange">air</span> <span class="green">balloon</span>
      <strong>number</strong> <span class="blue">game</span></h1>
    <p>The game is based on the work of <em>Aspanti Kampisopoulou</em><br />press start to begin</p>
    <button class="begin" onclick="document.body.classList.add('go')">START</button>
  </div>
</section>
<section id="game" class="screen game">
  <div class="balloon" [ngClass]="{ 'pyro': (game.start + game.amount) === game.target }">
      <span id="current_position" class="current-position" 
            *ngIf="isNumber(game.start + game.amount)"
            [ngClass]="{ 'over': (game.start + game.amount) > game.target,
                         'match': (game.start + game.amount) === game.target }">{{game.start + game.amount}}</span>    
      <div class="before"></div>
      <div class="after"></div>
  </div>
  <div>
    <div class="problem-panel">
      <button class="command refresh" title="reset" (click)="game.reset()"></button>
      <button class="command up" title="move up" (click)="game.up()"></button>
      <button class="command down" title="move down" (click)="game.down()"></button>
      <form>
        <input name="game_start" type="number" size="2" class="number start" [(ngModel)]="game.start" />
        <span class="operator add">+</span>
        <input name="game_amount" type="number" size="2" class="number amount" placeholder="?" [(ngModel)]="game.amount"
               [ngClass]="{ 'over': (game.start + game.amount) > game.target,
                            'match': (game.start + game.amount) === game.target }" />
        <span class="operator equals">=</span>
        <input name="game_target" type="number" size="2" class="number target" [(ngModel)]="game.target" />
      </form>
    </div>
    <div class="basket">
      <div id="basket-grid" class="basket-grid">

        <div *ngFor="let i of numbers" class="cell" 
            (click)="game.target = i"
            [ngClass]="{ 'start': game.start == i,
                         'current': (game.start + game.amount) == i, 
                         'target': game.target == i,
                         'over': (game.start + game.amount) > game.target }"><a tabindex="{{i}}" href="#{{i}}">{{i}}</a></div>
      </div>
      <div class="overlay-grid">
        <div class="path-x" [ngStyle]="{ start: game.start, target: game.target } | grid : 'x'"></div>
        <div class="path-y" [ngStyle]="{ start: game.start, target: game.target } | grid : 'y'"></div>
      </div>
    </div>
  </div>
</section>