<section id="splash" class="screen splash">
  <div>
    <h1><span class="red">Hot</span> <span class="orange">air</span> <span class="green">balloon</span>
      <strong>number</strong> <span class="blue">game</span></h1>
    <p>The game is based on the work of <em>Apanti Kampisopoulou</em><br />press start to begin</p>
    <button class="begin" onclick="document.body.classList.add('go')">START</button>
  </div>
</section>
<section id="game" class="screen game">
  <span id="current_position" class="current-position">{{game.start + game.amount}}</span>
  <img id="balloon-graphics" class="balloon-graphics" src="./assets/img/balloon.svg" />
  <div>
    <div class="problem-panel">
      <form>
        <input type="number" id="start_text" name="start_text" size="2" class="number start" [(ngModel)]="game.start" />
        <span class="operator add">+</span>
        <input type="number" id="amount_text" name="amount_text" size="2" class="number amount" placeholder="?" [(ngModel)]="game.amount" />
        <span class="operator equals">=</span>
        <input type="number" id="target_text" name="target_text" size="2" class="number target" [(ngModel)]="game.target" />
      </form>
    </div>
    <div class="basket">
      <div id="basket-grid" class="basket-grid">

        <div *ngFor="let i of numbers" class="cell" 
            (click)="game.target = i"
            [ngClass]="{ 'start': game.start == i,
                         'current': (game.start + game.amount) == i, 
                         'target': game.target == i,
                         'over': (game.start + game.amount) > game.target }"><a tabindex="{{i}}" href="#{{i}}">{{i}}</a></div>
      </div>
      <div class="overlay-grid">
        <div class="path-x" [ngStyle]="{ start: game.start, target: game.target } | grid : 'x'"></div>
        <div class="path-y" [ngStyle]="{ start: game.start, target: game.target } | grid : 'y'"></div>
      </div>
    </div>
  </div>
</section>