@import 'clouds';
@import 'basket';

html, body {margin: 0; padding: 0; }
html { height: 100vh; } body { min-height: 100%; }
body {
    color: #FFF;
    background-color:#56ccf2;
    background-image: radial-gradient(circle, #56ccf2 0%, #2f80ed 100%);
    overflow: hidden;    
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}
strong, b {
    font-weight: 500;
}
//https://uigradients.com/#BlueSkies
//https://uigradients.com/#Telegram #1c92d2 → #f2fcfe

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    position: relative;
}

.screen {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    position: absolute;
    transition: 0.45s;
}
.splash {
    transform: translateY(0);
    animation-delay: 1.3s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: intro_text;

    h1 {
        font-size:3rem;
    }

    > div {
        text-align: center;
        padding: 1rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, .2);
        margin: 1rem;
    }

    a {
        color: #2CDA9D;
        text-decoration: none;

        &:visited {
            color: #2CDA9D;
        }
        &:hover {
            color:#20A39E;
        }
    }
}
.game {
    transform: translateY(100vh);
    grid-template-rows: auto 1fr;
}
.go {
    .splash{
        transform: translateY(-100vh);
    }
    
    .game {
        transform: translateY(0);
    }
}

.balloon-graphics {
    animation: floating 2s ease-in-out 0s infinite alternate;
    height: calc(100vh - 30rem);
}
@keyframes floating {
  0% { transform: translateY(0);}
  100% { transform: translateY(-2rem);}
} 

@keyframes intro_text 
{
  0% {transform: scale(0);}
  10% {transform: scale(1.2);}
  20% {transform: scale(1);}
}
