@import 'colors';
$red1:#a04129;
$red2:#f26645;
$brown:#44261ac2;
$creme:#f5f3db;

.problem-panel {
    position: relative;
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
    background-color:$brown;
    padding: 0;
    input {
        -webkit-appearance: none;
        -webkit-rtl-ordering: logical;
        background-color: transparent;
        padding: 0 .5rem;
        border: none;
        color: white;
        font-size: inherit;
        font-family: inherit;
        display: inline;
        max-width: 8rem;
        text-align: right;
        margin-right: 1rem;
        font-weight: bold;
        &:focus {
            border: none;
            outline: none;
          }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    ::-webkit-input-placeholder { color: #fff; } /* Edge */ 
    :-ms-input-placeholder { color: #fff; } /* Internet Explorer 10-11 */
    ::placeholder { color: #fff; }

    .number { 
        &.start {
            color:$cyan-cornflower-blue;
        }
        &.target {
            color: $red2;
        }
        &.amount {
            color:$orange-yellow;
            &.over { color:$infra-red; }
            &.match { color:$ceribbean-green; }
        }
    }

    button.refresh {
        position: absolute;
        padding: 0;
        width: 1rem;
        height: 1rem;
        top: 1rem;
        left: 1rem;
        border: none;
        background-color: transparent;
        background-image: url("./assets/img/reload-alt.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.6;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
        &:hover {
            opacity: 1;
        } 
        &:focus {
            border: none;
            outline: none;
        }
    }
}

.basket {
    position: relative;
}
.overlay-grid {
    position: absolute;
    pointer-events: none;
    display: grid;
	grid-template-columns: repeat(10, calc((100% / 10) - 1px));
	grid-template-rows: repeat(10, 1.8rem);
    grid-gap: 1px;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;

    
    .path-x, .path-y {
        grid-row-start: 1;
        grid-column-start: 1;   
        background: rgba(255, 244, 0, 0.20);
        pointer-events: none;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
    }
}
.basket-grid {
    font-family: 'Montserrat', sans-serif;
    position: relative;
	display: grid;
	grid-template-columns: repeat(10, calc((100% / 10) - 1px));
	grid-template-rows: repeat(10, 1.8rem);
	grid-gap: 1px;
    grid-auto-flow: dense;
	max-width: 100%;
	overflow: hidden;

    background: $brown;
    color: $red2;
    font-size: 1.2rem;
    margin: 0;
    width: 35rem;
    text-align: center;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;

    .cell {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
        display: grid;
        align-content: center;
        a {
            display: block;
            color: inherit;
            text-decoration: none;
            font-weight: bold;
            width: 100%;
            height: 100%;
        }

        &:hover,
        &:focus-within {
            color: $brown;
            background-color: $red2;
        }

        &.start {
            background-color:$cyan-cornflower-blue;
            color: $warm-black;
        }
        &.target {
            color: $brown;
            background-color: $red2;
        }
        &.current {
            background-color:$orange-yellow;
            color: $warm-black;
            &.target { background-color:$ceribbean-green; }
            &.over { background-color:$infra-red; }
        }

    }

}
